/* variables */
:root {
    --main-color:#19c8fa;
    --transparent-color:rgb(15 116 143 / 70%);
    
}
/* global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family:'Open Sans', sans-serif ;
    text-transform: capitalize;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*small*/
@media screen and (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media screen and (min-width:992px) {
    .container{
        width: 970px;
    }   
}
/* large */
@media screen and (min-width:1200px) {
    .container {
        width: 1170px;
    }  
}
/*components*/
.main-heading{
    text-align: center;

}
.main-heading h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.main-heading h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.main-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    width: 14px;
    height: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: white;
    bottom: -38px;

}
.main-heading p{
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;


}

/*header*/
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;

}
header .container::after{
    content: "";
    position: absolute;    
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
    z-index: -1;
    

}
header .logo img{
    height: 40px;
}
header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .toggle-menu{
    color: white;
    font-size: 22px;
}
@media screen and (min-width:768px) {
    header nav .toggle-menu{
        display: none;
    }   
}
header nav ul{
    display: flex;
}
@media screen and (max-width:768px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover +ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0/ 50%)

    }
    header nav ul li a{
        padding: 15px !important;
    }
    
}
header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
    padding: 40px 10px;
}
header nav ul li .active , header nav ul li a:hover{
color: var(--main-color);
border-bottom: 1px solid var(--main-color);
}
header .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;

}
header .form i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 20px;
}
/* landing */
.landing{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
    
    min-height: 100vh;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 60%);
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color:var(--transparent-color) ;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content{
    max-width: 500px;

}
.landing .text .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;

}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .bullets{
    position: absolute;
    transform:translateX(-50%);
    left: 50%;
    bottom: 30px;
    display: flex;

}
.landing .bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active {
background-color: var(--main-color);
border-color: var(--main-color);
}
@media (max-width: 767px){
.landing .text {
    width: 100%;}
.landing i {
    display: none;
}}
/* services */
.services{
    padding-top: 100px;
    padding-bottom: 100px;

}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}
@media screen and (max-width:768px) {
    .services .services-container{
        display: block;
    }
    .services-container .srv-box {
        
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;

    }
    .services-container .srv-box i{
        margin:  0 0 30px;
        padding-left: 40px;
    }
    
}
.services-container .srv-box{
    display: flex;
    justify-content: space-between;
}
.services-container .srv-box .text h3{
    color: var(--main-color);
    margin: 0 0 30px 50px;
}
.services-container .srv-box .text p{
    margin-left: 50px;
    line-height: 2;
    color: #777;
}
/* design */
.design{
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../images/design-features.jpg);
    display: flex;
    align-items: center;
    background-size: cover;
    height: 600px;
    overflow: hidden;
    position: relative;

}
.design .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/ 60%);
}
.design .image{
    text-align: center;
}

.design img{
    
    position: relative;
    bottom: -150px;
}

.design .text, .design .image{
    flex: 1;
}

.design .text{
    background-color:var(--transparent-color) ;
    color: white;
    z-index: 2;
    padding: 50px;
}
.design .text h2{
font-weight: normal;
text-transform: uppercase;
margin-bottom: 40px;
}
.design .text ul li{
    padding: 15px 0;
}

.design .text ul li::before{
    font-family: "font awesome 5 free";
    content: "ïŽ";
    font-weight: 900;
    margin-right: 15px;
    position: relative;
    top: 1px;
}
@media screen and (max-width:768px) {
    .design .image {
        display: none;
    }
    
}
/* portfolio */
.portfolio{
        padding-top: 100px;
        padding-bottom: 100px;
    
     
}
.portfolio .container ul{
    display: flex;
    justify-content: center;
}
.portfolio .container ul li{
    padding: 10px;
}
.portfolio .container .active{
    background-color: var(--main-color);
    color: white;
    
}
.portfolio .imgs-container{
display: flex;
flex-wrap: wrap;
margin-top: 60px;
}
.portfolio .imgs-container .box{
    position: relative;
    overflow: hidden;
}
.portfolio .imgs-container .box img{
    max-width: 100%;
    transition: .3s;
}
.portfolio .imgs-container .box:hover img{
    transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs-container .box .caption{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: .3s;
    bottom: -100px;
    

}
.portfolio .imgs-container .box:hover .caption{
    bottom: 0;

}
.portfolio .imgs-container .box .caption h4{
    font-weight: normal;
    margin-bottom: 10px;

}
.portfolio .more {
    background-color: var(--main-color);
    padding: 15px 20px;
    width: fit-content;
    display: block;
    text-decoration: none;
    color: white;
    margin: 30px auto;
    text-transform: uppercase;
}
.portfolio .imgs-container .box .caption p{
    color: var(--main-color);

}

@media screen and (min-width:768px){
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }}
@media screen and (min-width:1199px){
    .portfolio .imgs-container .box{
        flex-basis:25%;
    }
    
}

/* video */
.video{
    position: relative;
}
.video::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /40%);
}
#background-vid{
    width: 100%;
   
}
.video .text{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}
.video .text h2{
    margin: 0 0 30px ;
    text-transform: uppercase;
    font-weight: normal;
}
.video .text p{
    margin-bottom: 30px;
}
.video .text button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
}
/* about us */
.about-us{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.about-us img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
    
}
.stats{
    background: url(../images/stats.png);
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.stats::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);

}
.stats .container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    
}
.stats .container .box{
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
    
}
.stats .container .box i{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (max-width: 767px) {
    .stats .container .box {
      flex-basis: 100%;
    }
  }
  @media (min-width: 768px) {
    .stats .container .box {
      flex-basis: 50%;
    }
  }
  @media (min-width: 992px) {
    .stats .container .box {
      flex-basis: 25%;
    }
  }
  .stats .container .box div{
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
  }
  .stats .container .box p{
    font-size: 14px;
  }
  /*skills*/
  .our-skills{
    
    padding-bottom: 100px;
  }
  .our-skills .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;}
    

    @media screen and (min-width:992px) {
        .our-skills .container > div{
            flex-basis: 45%;
        }

        
    }
  
  .our-skills .container >div > h3{
    font-weight: normal;
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
  }
  .our-skills .container >div > p{
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
  }
  .our-skills .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  @media screen and (max-width:768px) {
    .our-skills .content {
        flex-direction: column;
        text-align: center;
    }
    .our-skills .content img{
        margin:  auto 20px;
    }
    
  }
  .our-skills .content img{
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
  }

  .our-skills .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;}

  .our-skills .testimonials .text p{
        color: #777;
        text-align: right;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .our-skills .testimonials .bullets{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;

    }
    .our-skills .testimonials .bullets li{
        width: 14px;
        height: 14px;
        border: 1px solid #aaa;
        border-radius: 50%;
        margin-right: 10px;
    }
    .our-skills .testimonials .bullets .active{
        background-color: var(--main-color);
    }
    
    .our-skills .skills .prog-holder{

        margin-bottom: 50px;
    }
   
    .our-skills .skills .prog-holder h4{
        margin-bottom: 15px;
        font-weight: normal;
        text-transform: uppercase;

    }
    .our-skills .skills .prog-holder .prog{
        background-color: #dedadc;
        height: 30px;

    }
    .our-skills .skills .prog-holder .prog span{
        display: block;
        background-color: var(--main-color);
        height: 30px;
        position: relative;
        
    }
    .our-skills .skills .prog-holder .prog span::before{
        content: attr(data-progress);
        position: absolute;
        background-color: black;
        width: 40px;
        right: -18px;
        top: -40px;
        color: white;
        padding: 4px 0;
        border-radius: 4px;
        text-align: center;

    }
    .our-skills .skills .prog-holder .prog span::after{
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 8px;
        border-color: black transparent transparent;
        right: -8px;
        top: -15px;


    }
    /* quote */
    .quote{
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(../images/quote.jpg);
        background-size: cover;
        position: relative;
        color: white;
        text-align: center;
    }
    .quote::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 75%)
    }
    .quote .container{
        position: relative;
    }
    .quote q{
        font-size: 30px;
        margin-bottom: 20px;
        display: block;
        color: white;
        
    }
/*pricing */
.pricing{
    padding-top: 100px;
    padding-bottom: 100px;

}
.pricing .plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    
}
@media screen and (max-width:768px) {
    .pricing .plans { grid-template-columns: 1fr 1fr;

} }
.pricing .plans .plan{
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .plans .plan .head{
    padding: 40px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .head h3{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.pricing .plans .head span{
    font-size: 60px;
    font-weight: bold;
    position: relative;
    
}
.pricing .plans .head span::before{
    content: "$";
    position: absolute;
    font-size: 25px;
    font-weight: normal;
    top: 0;
    left: -30px;
}
.pricing .plans .head span::after{
    content: "/Mo";
    font-size: 20px;
    position: absolute;
    bottom: 12px;
    right: -55px;
}
.pricing .plans .plan ul{
    border-bottom: 1px solid var(--main-color);
    
}
.pricing .plans .plan  li {
    padding: 20px;
    position: relative;

} 
.pricing .plans .plan ul li:not(:last-child){
    width: fit-content;
    border-bottom: 1px solid var(--main-color);
    left: 50%;
    transform: translateX(-50%);
}
/*
.pricing .plans .plan ul li:not(:last-child)::after{
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
*/
.pricing .plans .plan .foot a{
    padding: 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    display: block;
}
.pricing p:nth-last-child(2) {
    text-align: center;
    font-size: 20px;
    margin: 50px auto 20px;
}
.pricing a:not(:first-child){
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
    width: fit-content;
}
/* subscribe */
.subscribe{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/subscribe.jpg);
    color: white;
    background-size: cover;
    position: relative;
}
.subscribe::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgb(0 0 0/ 50%) ;
}
.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media screen and (max-width:991px) {
    .subscribe .container {
        flex-direction: column;
    }
    .subscribe .container p {
        margin: 30px 0 0 ;
    }
    
}

.subscribe .container form {
    
    width: 500px;
    border: 1px solid white;
    display: flex;
    padding-left: 20px;
    max-width: 100%;


    
}
.subscribe form i{
    margin-top: 30px;
}
.subscribe .container form input[type="email"]{
    border: none;
    padding: 20px 20px 20px 10px;
    background: none;
    width: calc(100% - 130px);
    caret-color: var(--main-color);


} 
 .subscribe input:focus{
    outline: none;
 }
 .subscribe .container form input[type="submit"]{
    padding: 21px;
    background-color: var(--main-color);
    border: none;
    width: 130px;
 }
.subscribe .container p {
    margin-left: 50px;
    line-height: 2;
}
/* contact us */
.contact-us{
    padding-top: 100px;
    padding-bottom: 70px;
    
}
.contact-us .content {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:768px){
.contact-us .content {
    flex-direction: column;

}    
.contact-us .info {
    order: -1;
    text-align: center;
}
.contact-us .content .info h4:nth-of-type(2){
margin-top: 30px;
}
.contact-us .info address{
    margin-bottom: 40px;
}
}
.contact-us .content form{
    flex-basis: 70%;
}
.contact-us .content form input, textarea{
    display: block;
    padding: 20px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 30px;
}
.contact-us .content input:focus, textarea:focus{
    outline: none;
}
.contact-us .content input[type="submit"]{
    background-color: var(--main-color);
    width: 150px;
    color: white;
    margin-left: auto;
    cursor: pointer;
    text-transform: uppercase;
}
.contact-us .content .info{
    flex-basis: 25%;
}

.contact-us .content .info h4{
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
}
.contact-us .info span{
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.contact-us .info h4:nth-of-type(2){
    margin-top: 90px;
} 
.contact-us .info address{
    line-height: 2;
    color: #777;
}
/*footer */
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../images/subscribe.jpg);
    text-align: center;
    position: relative;
    background-size: cover;
    color: white;


}
.footer .container{
    position: relative;
}
.footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);

}
.footer h4{
    padding: 20px;
    width: fit-content;
    border-bottom: 1px solid white;
    font-size: 22px;
    font-weight: normal;
    margin: 40px auto 20px auto;
    


}
.footer i {
    padding: 10px 15px;
}
.footer p {
    margin-top: 60px;
}
.footer span{
    color: var(--main-color);
    font-weight: bold;
}